* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(27, 26, 26);
  background-color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
/*Custom the list*/
ul {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: black;
}
/*Nav Bar*/
.navbar {
  color: black;
  background-color: #e9e8e8;
  height: 70px;
  border-bottom: 1px solid gray;
}
.navbar .logo {
  font-size: xx-large;
  font-weight: bold;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar ul {
  display: flex;
}
.nav a {
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
}
.nav a:hover {
  color: rgb(102, 4, 102);
}
/*Header*/
.header .container h1 {
  text-align: center;
  font-size: 3rem;
}
.header .container h1:hover {
  color: rgb(102, 4, 102);
}
.header img {
  max-height: 350px;
  max-width: 350px;
}
.header p {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}
.RM-logo {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/*Section-info*/
.boxes .container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.boxes .box {
  max-width: 500px;
  max-height: 500px;
  margin: 0 15px;
  padding: 10px;
  background-color: #f4f3f3;
  border-radius: 10px;
}
.boxes .box:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}
.box h2 {
  text-align: center;
  font-size: x-large;
}
.box p {
  text-align: left;
  font-size: 18px;
  flex-shrink: 1;
}
/*Section-Media*/
.social {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media {
  display: flex;
}
.social img {
  height: 60px;
  margin-left: 20px;
}
.media li {
  margin-left: 20px;
}
.media li:last-child {
  margin-right: 20px;
}
/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  margin: 0 5px;
  height: 50px;
  align-items: center;
}
.right {
  font-size: 14px;
  margin-left: 20px;
}
.policy {
  display: flex;
}
.policy li {
  margin-left: 10px;
  font-size: 14px;
}
.policy li:last-child {
  margin-right: 20px;
}
.policy a:hover {
  color: rgb(102, 4, 102);
  text-decoration: underline;
}
